/************************************/




@font-face {
    font-family: titulos;
    src: url(../font/Cutie\ Biscuit.ttf);
}

@font-face {
    font-family: texto;
    src: url(../font/Cutie\ Biscuit.ttf);
}

* {box-sizing:border-box;} /*el width incluye el padding 
                            el espacio en blanco lo coge 
                            de dentro del cuadro
                            lo hare siempre*/

body {background-color:rgb(133, 95, 168);
        background-image: url(../img/seamless-5101105_1280.jpg);}

#wrapper {background-color: rgb(255, 168, 117);
          width:80%;           /* el width va en porcentaje */
          margin:auto;
          padding:10%;
          border-radius:20px;
}  

h1 {border:2px solid rgb(151, 43, 0);
    text-align: center;
    padding:10px;
    border-radius:20px;
    /* sombra de caja */
    box-shadow:10px 5px 10px gray;}

blockquote {border-left: 3px solid brown;
            font-style: italic; /*poner en corsiva */
            background-color: rgb(177, 177, 177);
            padding:10px;} /* margin y padding pequeños pueden estar en pixeles*/

#foto {width: 80%;/* a todo lo ancho que estas colocada, en este caso del wrapper */
        margin: auto;
        display: block;} /* para que se comporte como un bloque */

dt {font-weight:bold;
    font-size:1.2em;}

